<!DOCTYPE html>
<html>
  <head>
    <title>InstagramClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>



  <body>
<header>
  <div class="header-left">
    <i  class="fas fa-camera-retro fa-3x"></i>
    <h1><%= link_to 'イクラスタグラム', pictures_path, :style=>"" %></h1>
  </div>

</header>
<div class="main-wrapper">

    <% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>

    <%= yield %>
  </div>
    <footer>
      <p>© 2019 TANIZAWA CORPORATION.(Test Application)</p>
    </footer>

  </body>
</html>
